* {
  margin: 0%;
  padding: 0%;
}

header {
  margin-top: 5%;
}

.h2_header {
  color: rgb(8, 250, 197);
  margin-bottom: 10%;
  text-align: left;
  margin: 0% 30%;
}

.h1_header {
  color: rgb(35, 30, 131);
  margin-bottom: 3%;
  margin: 0% 30%;
  margin-bottom: 2%;
  text-align: left;
}

.h3_header {
  margin: 2% 30%;
  text-align: left;
  font-size: 150%;
}

.p_header {
  margin: 0% 30%;
  font-size: 120%;
}

.a_header {
  border-radius: 10px;
  background-color: #00a78e;
  color: white;
  padding: 1%;
  text-decoration: none;
  /* font-size: 120%; */
  display: block;
  margin-top: 3%;
  text-align: center;
  width: 10%;
  margin-left: 44%;
}

.img_header {
  /* margin-top: 10%; */
  margin: 5% 0% 0% 40%;
}

.conteiner1 {
  text-align: center;
  color: rgb(35, 30, 131);
  background-color: aquamarine;
}

.h1_conteiner1 {
  margin-bottom: 5%;
}

.text_conteiner1 {
  margin: 0% 30%;
  font-size: 140%;
  margin-bottom: 5%;
  color: black;
}

.titulos_porcentos {
  display: inline-block;
  width: 100%;
  color: black;
  font-size: 130%;
}

progress {
  width: 40%;
  accent-color: #00a78e;
  height: 20px;
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .img_header {
    margin: 5% 0% 5% 25%;
  }

  .a_header {
    text-align: center;
    /* padding: 0% 10% 0% 10%; */
    /* margin-inline: 39% */
    /* margin: 0% 5% 0% 5%; */
    padding: 1% 5%;
  }
}
